:root {
    --stone100: rgb(243, 230, 216);
    --stone150: rgb(228, 222, 216);
    --stone600: rgb(95, 87, 78);
    --stone900: rgb(48, 45, 44);
    --brown800: rgb(133, 70, 50);
    --rose800: rgb(123, 40, 79);
    --rose50: rgb(255, 245, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--stone150);
}

@font-face {
    font-family: youngSeriff;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: outfitVariable;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-style: normal;
}

img {
    width: 100%;
    height: 30vh;
}

.align-title {
    width: 90%;
    padding: 40px 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

h1 {
    line-height: 1.2;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: youngSeriff;
    color: var(--stone900);
}

p {
    font-size: 1.2rem;
    padding: 15px 35px;
    white-space: wrap;
    text-align: justify;
    margin-bottom: 15px;
}

.preparation-time {
    width: 80%;
    margin: 0 auto;
    background-color: var(--rose50);
    border-radius: 10px;
    padding: 20px;
    font-family: outfitVariable;
    font-weight: normal;
    padding-bottom: 10px;
}

.preparation-time h3 {
    font-size: 1.3rem;
    color: var(--rose800);
}

.preparation-time ul {
    padding: 10px 25px;
}

.preparation-time li {
    font-size: 1.1rem;
    padding-bottom: 10px;
    color: rgb(77, 77, 77);
}

span {
    font-weight: 600;
    color: var(--stone900);
}

.ingredients {
    padding: 0 40px;
    padding-top: 40px;
}

.title-sections {
    color: var(--brown800);
    font-family: youngSeriff;
    font-weight: normal;
    font-size: 1.8rem;
    padding-bottom: 15px;
}

.ingredients ul {
    padding: 10px 30px;
    font-family: outfitVariable;
    font-weight: normal;
}

li {
    font-size: 1.2rem;
}

.ingredients li {
    padding-bottom: 15px;
    padding-left: 15px;
    color: var(--stone600);
}

hr {
    width: 80%;
    margin: 0 auto;
    padding-top: 0;
    margin-top: 0;
}

.instructions {
    padding: 0 40px;
    padding-top: 40px;
}

.instructions ol {
    padding: 10px 30px;
    font-family: outfitVariable;
    font-weight: normal;
}

.instructions li {
    padding-left: 15px;
    padding-bottom: 15px;
    color: var(--stone600);
}

.instructions li::marker {
    color: var(--brown800);
}

.nutritional {
    padding: 40px;
}

.nutritional p {
    padding: 0;
    margin-bottom: 0;
    color: rgb(77, 77, 77);
}

.table {
    text-align: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px 40px;
}

.table p {
    width: 40%;
}

.table .p-color {
    color: var(--brown800);
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: rgb(62, 82, 163);
}

@media (min-width: 320px) {
    img {
        height: 20vh;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        padding: 15px 30px;
    }

    hr {
        width: 90%;
    }

    .nutritional p {
        padding-bottom: 20px;
    }

    .table p {
        padding-bottom: 0;
    }
}

@media (min-width: 375px) {
    h1 {
        font-size: 2.2rem;
    }

    li {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    img {
        height: 30vh;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        font-size: 2rem;
        padding: 20px 80px;
    }

    .preparation-time {
        border-radius: 15px;
    }

    .preparation-time h3 {
        font-size: 1.8rem;
    }

    .preparation-time li {
        font-size: 1.6rem;
    }

    .ingredients {
        padding: 0 80px;
        padding-top: 40px;
    }

    .title-sections {
        font-size: 3rem;
    }

    li {
        font-size: 2rem;
    }

    .instructions {
        padding: 0 80px;
        padding-top: 40px;
    }

    .nutritional {
        padding: 40px 80px;
    }

    .nutritional p {
        padding: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .table {
        text-align: center;
        display: flex;
        gap: 50px;
        justify-content: center;
        padding: 10px 40px;
    }

    .table p {
        width: 40%;
    }

    .table .p-color {
        color: var(--brown800);
    }

    .attribution {
        font-size: 1.5rem;
        text-align: center;
    }

    .attribution a {
        color: rgb(62, 82, 163);
    }
}

@media (min-width: 1024px) {
    body {
        background-color: var(--stone100);
        display: flex;
        justify-content: center;
        padding: 60px 20px;
    }

    .desktop-layout-div {
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        height: 100%;
        width: 80%;
        padding: 30px;
    }

    img {
        height: 40vh;
    }

    .align-title {
        width: 100%;
        padding: 40px 20px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: justify;
    }

    p {
        padding: 15px 20px;
    }

    .preparation-time {
        width: 100%;
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 10px;
        margin-left: 2%;
    }

    .preparation-time h3 {
        font-size: 1.5rem;
    }

    .preparation-time li {
        font-size: 1.3rem;
    }

    .ingredients {
        padding: 0 20px;
        padding-top: 40px;
    }

    .title-sections {
        font-size: 2rem;
    }

    li {
        font-size: 1.3rem;
    }

    hr {
        width: 100%;
        margin: 0 auto;
        padding-top: 0;
        margin-top: 0;
    }

    .instructions {
        padding: 0 20px;
        padding-top: 40px;
    }

    .nutritional {
        padding: 20px;
    }

    .nutritional p {
        padding: 15px 0;
        color: rgb(77, 77, 77);
    }

    .table {
        gap: 30%;
    }

    .attribution {
        font-size: 1.2rem;
    }
}

@media (min-width: 1440px) {
    img {
        height: 50vh;
    }
}